<div class="navbar navbar-light bg-light">
  <div class="navbar-logo">
    <img src="assets/image/logo.jpg" alt="Logo" />
  </div>
  <div class="container-fluid">
    <h2>Room Booking Management System</h2>
  </div>
  <i class="fas fa-user-circle" style="font-size: 40px"></i>
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-light dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Admin account
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</div>
<div class="Welcome-msg">
  <h3>Hello Admin, Welcome to RBMS portal!!</h3>
</div>
<app-pending-req></app-pending-req>