<div class="full">
<div class="container">
    <div class="row">
        <div *ngFor="let isrc of image_sources" class="col-lg-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src={{isrc}} alt="Avatar" style="width:100%;height:100%;">
                </div>
                <div class="flip-card-back">
                    <h1>LA</h1>
                    <p>Capacity</p>
                    <p>Rules</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>