.grad.gradient-custom {
    /* fallback for old browsers */
    background: #c14a72;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(233, 135, 135), rgb(108, 13, 13));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(172, 72, 90), rgb(252, 37, 37))
    }