<div class="Requests">
  <table class="table table-hover table-bordered caption-top">
    <thead class="table-info">
      <tr>
        <th scope="col">S No</th>
        <th scope="col">Council</th>
        <th scope="col">Reason</th>
        <th scope="col">Contact</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Room</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let data of datas">
        <th scope="row">{{ data.S_No }}</th>
        <td>{{ data.Council }}</td>
        <td>{{ data.Reason }}</td>
        <td>{{ data.Contact }}</td>
        <td>{{ data.Start_Time }}</td>
        <td>{{ data.End_Time }}</td>
        <td>{{ data.Room }}</td>
        <td>{{ data.Status }}</td>
      </tr>
    </tbody>
  </table>
</div>
